<img src="../public/assets/image/burger-logo.png">

<h1>Burgers!</h1>

<h2>So many burgers to devour!</h2>

<ul id="not-devoured">
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        {{burger_name}}
        <button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}" >
          {{#if devour}}Devour it!{{else}}Devoured!{{/if}}
        </button>
      </li>  
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers must be devoured!</h2>

<ul id="devoured">
  {{#each burgers}}
    {{#if devoured}}
      <li>
	      {{burger_name}}
      </li>    
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form" action= "/api/burgers" method="POST">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" name="burger_name">
  </div>

  <button type="submit">Add burger</button>
</form>
